/* color verde mar rgb(0, 255, 183);*/

body{
    background-color: #1f1f1f;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.main-nav{
    width: 100%;
    padding: 10px 0px;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 18px blueviolet;
}

.main-logo{
    width: 180px;
    height: 50px;
}

.main-ul{
    list-style: none;
    display: inline-flex;
}

.main-ul>li{
    margin-right: 10px;
}

.main-ul>li>a{
    color: inherit;
    text-decoration: none;
}
.main-body{
    margin-top: 30px;
}

.main-ul>li>a:hover{
    color: rgb(0, 255, 183);
    text-decoration: underline;
}

.main-section-div{
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.card{
    margin-top: 30px;
    margin-right: 10px ;
}
.card-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-img-container{
    width: inherit;
    height: 150px;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 175, 175, 0.186);
    padding-top: 10px;
}

.img-main{
    width:auto;
    height: 150px;
    max-width: 95%;
    border-radius: inherit;
}

.menu-logo{
    position: absolute;
    display: none;
    opacity: 0;
    margin-right: 10px;
    transition: .5s;
}
.menu-container{
    margin-right: 10px;
}
.menu-container>span{
    font-size: 39px;
}
.menu-container>span{
    display: none;
    opacity: 0;
}
@media(max-width: 675px){

    .menu-container>span{
        display: block;
        opacity: 1;
    }
    .main-ul{
        opacity: 0;
        display: none;
    }

    .main-ul{
        background-color:#1f1f1f;
        box-shadow: 0px 0px 3px blueviolet;
        position: absolute;
        display:none;
        right: 0px;
        opacity: 0;
        top: 72px;
        z-index: 99999;
        text-align: center;
        transition-duration: .5s;
    }
    .menu-container:hover>.main-ul{
        display: block;
        opacity: 1;
        transition-duration: .5s;
    }
    .main-ul>li{
        background-color:inherit;
        padding: 10px;
        text-align: center;
    }
}

@media(max-width: 330px){
    .card-img-container,.img-main{
        width: auto;
    }
}